
<link sizes="16x16" type="image/png" rel="icon" href="{{ site.cloudinary_url }}c_fill,w_16/favicon" />
<link sizes="32x32" type="image/png" rel="icon" href="{{ site.cloudinary_url }}c_fill,w_32/favicon" />
<link sizes="96x96" type="image/png" rel="icon" href="{{ site.cloudinary_url }}c_fill,w_96/favicon" />
<link sizes="192x192" type="image/png" rel="icon" href="{{ site.cloudinary_url }}c_fill,w_192/favicon" />
<link sizes="57x57" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_57/favicon" />
<link sizes="60x60" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_60/favicon" />
<link sizes="72x72" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_72/favicon" />
<link sizes="76x76" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_76/favicon" />
<link sizes="114x114" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_114/favicon" />
<link sizes="120x120" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_120/favicon" />
<link sizes="144x144" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_144/favicon" />
<link sizes="152x152" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_152/favicon" />
<link sizes="180x180" rel="apple-touch-icon" href="{{ site.cloudinary_url }}c_fill,w_180/favicon" />

<meta name="msapplication-square70x70logo" content="{{ site.cloudinary_url }}c_fill,w_70/favicon" />
<meta name="msapplication-square150x150logo" content="{{ site.cloudinary_url }}c_fill,w_150/favicon" />
<meta name="msapplication-square310x310logo" content="{{ site.cloudinary_url }}c_fill,w_310/favicon" />
<meta name="msapplication-square310x150logo" content="{{ site.cloudinary_url }}c_fill,w_310,h_150/favicon" />
<meta name="application-name" content="{{ site.title }}" />
