---
title: Steve Bailey's Portfolio
permalink: /bailey/portfolio/
---

<div class="container">
  <header class="page-header">
    <h1>
      {{ title }}
    </h1>
    <time>
      2021
    </time>
  </header>
  <article class="flow">
    <p>
      Hi, MainStreeters! Thanks for taking the time to review my portfolio. To spare you a lot of clicking, I'm dropping all examples on this single page and hoping that lazy-loading will prevent your browser from crashing.
    </p>
    <figure>
      <img src="/images/portfolio/steve.jpg" loading="eager" width="1280" height="960">
      <figcaption>
        On the Appalachian Trail (May 2019)
      </figcaption>
    </figure>
    <p>
      Below, I'm including examples of my work that seem relevant to what you're seeking in a Product Designer. Things are not necessarily in chronological order, but I've included dates in the captions to give you a sense of recency.
    </p>
    <h2>
      UI Design
    </h2>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/page-hero.png" loading="lazy" width="2000" height="1500">
      <figcaption>
        Greenpeace Chrome Extension (Summer 2017)
      </figcaption>
    </figure>
    <p>
      While many of the projects I've worked on haven't required formal design systems (or haven't had budgets for them), I do strive to design with an eye toward consistency and clarity. One of my favorite UI projects was the Heavybit Industries website design, which is largely <a href="https://www.heavybit.com/" target="_blank">still in use today</a>. I designed every template on the site, working with their talented frontend dev to bring the mocks to life.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/heavybit.png" loading="lazy" width="1440" height="2372">
      <figcaption>
        Heavybit Industries Inc. marketing site (Summer 2014)
      </figcaption>
    </figure>
    <p>
      I'm a fan of fast-loading websites and apps, and I'm always on the lookout for ways to increase page speed while respecting brand identity guidelines. In the case of <a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.cartalk.com%2Fcar-donation%2Fcalifornia%2F" target="_blank">Car Talk's Vehicle Donation Program</a>, I managed to get their page speed scores up to 96-99% on mobile by strategically using things like CSS gradients, inline SVGs, and the Jamstack.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/car-talk.png" loading="lazy" width="1472" height="1217" class="box-shadow">
      <figcaption>
        Car Talk's Vehicle Donation Program (Spring 2020)
      </figcaption>
    </figure>
    <p>
      Like many designers, I'm regularly tasked with taking an existing application and "making it better". In the case of FEMA's flood insurance portal below, it boiled down to simple things like <a href="/images/portfolio/ui-ux/fema-before.png" target="_blank">not making everything look like a button</a> and imposing a predictable hierarchy. In two cases, I've repurposed the UI elements in user-focused <a href="https://youtube.com/playlist?list=PLRJw9u8nGNwP8sFZFMCyDqWNR1XnmzkpR" target="_blank">product videos</a>.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/fema-after.png" loading="lazy" width="1200" height="1294" class="box-shadow">
      <figcaption>
        FEMA flood insurance portal (Summer 2021)
      </figcaption>
    </figure>
    <p>
      When it comes to concepts and prototypes, there's a lot that ends up on the cutting room floor. Below are a few examples.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/vmp.png" loading="lazy" width="2000" height="1476">
      <figcaption>
        Vinyl Me Please pricing page concept (Summer 2016)
      </figcaption>
    </figure>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/su2c.png" loading="lazy" width="768" height="2013" class="box-shadow">
      <figcaption>
        Stand Up To Cancer campaign concept (Spring 2020)
      </figcaption>
    </figure>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/rxcbd.png" loading="lazy" width="1402" height="2601">
      <figcaption>
        RxCBD Concept (Summer 2019)
      </figcaption>
    </figure>
    <p>
      When time or budget is a constraint, I do enjoy jumping into a repo and just doing my best in code.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/ui-ux/acoustic.png" loading="lazy" width="1780" height="1486">
      <figcaption>
        Acoustic Rails app (Summer 2020) &mdash; [<a href="/images/portfolio/ui-ux/acoustic-onboard-original.png" target="_blank">original</a>]
      </figcaption>
    </figure>
    <h2>
      Print Design
    </h2>
    <figure class="full-bleed">
      <img src="/images/portfolio/print/fingerprints.jpg" loading="lazy" width="1500" height="1001">
      <figcaption>
        "Topographic Fingerprints", a 16"x20" foil-stamped print (Fall 2017)
      </figcaption>
    </figure>
    <p>
      In 2015, I created a "periodic table" of New Hampshire's 4000-foot mountains with the intention of gifting it to one or two friends. One of those friends encouraged me to sell them, so I took a chance and paid for a <em>daunting</em> print run of 500 copies. They sold out in a matter of weeks. Since then, I've expanded the concept, produced a series of hiking passports, and created a letterpress line. One thing is for sure: I've learned a lot about how to use variable data in Adobe Illustrator.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/print/periodic-table-of-ski-resorts.png" loading="lazy" width="2400" height="1610">
      <figcaption>
        Periodic Table of Ski Areas: British Columbia, a 24"x18" poster (Fall 2017)
      </figcaption>
    </figure>
    <p>
      I'm glad I chose to wholesale these products, as working directly with retailers is a great way to get real feedback&mdash;the analytics of print design. My favorite "analytics" are photos of beaming kiddos with their passport sticker pages filled out! We donate a portion of the profits to local trail groups and offer scores of "duds" to addiction recovery programs.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/print/in-use.png" loading="lazy" width="1140" height="584">
      <figcaption>
        Analytics are great, but seeing people (especially kids) <a href="https://www.honeybhouse.com/work" target="_blank">use your hiking passports</a> is hard to beat!
      </figcaption>
    </figure>
    <h2>
      Graphic Design
    </h2>
    <figure class="full-bleed">
      <img src="/images/portfolio/graphic/page-hero.png" loading="lazy" width="2000" height="1940">
      <figcaption>
        White Mountain playing cards (concept)
      </figcaption>
    </figure>
    <p>
      While I have less time for doodling these days, I still try to dabble.
    </p>
    <figure class="full-bleed">
      <img src="/images/portfolio/graphic/css-tables.png" loading="lazy" width="1600" height="800">
      <figcaption>
        CSS Tables article hero
      </figcaption>
    </figure>
    <figure class="full-bleed">
      <img src="/images/portfolio/graphic/colorado-trail.png" loading="lazy" width="564" height="564">
      <figcaption>
        Colorado Trail insigna (concept)
      </figcaption>
    </figure>
    <figure class="full-bleed">
      <img src="/images/portfolio/graphic/mount-adams-challenge.png" loading="lazy" width="564" height="638">
      <figcaption>
        Mount Adams Challenge logo
      </figcaption>
    </figure>
    <h2>
      Formal Design Systems
    </h2>
    <figure class="full-bleed">
      <div class="bg-stars">
        <img src="/images/portfolio/systems/showcase.png" loading="lazy" width="1200" height="900">
      </div>
      <figcaption>
        An early mood board that led to the Code for America style guide (Fall 2013)
      </figcaption>
    </figure>
    <p>
      As mentioned above, I've only had a few opportunities to distill design patterns into a formal design system. In each case, I teamed up with super-talented designers / illustrators to produce the final deliverables, from responsive UIs to conference swag.
    </p>
    <figure class="full-bleed">
      <div class="bg-bb">
        <img src="/images/portfolio/systems/big-boulder-UI.png" loading="lazy" width="1200" height="900">
      </div>
      <figcaption>
        Big Boulder Conference Responsive UI (2012-2017)
      </figcaption>
    </figure>
    <figure class="full-bleed">
      <img src="/images/portfolio/systems/big-boulder-swag.jpg" loading="lazy" width="721" height="541">
      <figcaption>
        Big Boulder Conference swag (Summer 2014)
      </figcaption>
    </figure>
    <p>
      Once again, thanks for taking time out of your day to review my portfolio. If you'd like me to discuss specific details of any of the items above, please don't hesitate to <a href="mailto:icegulch@gmail.com">reach out</a>.
  </article>
</div>
